<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Тестовое задание</title>

    <link rel="stylesheet"
          href="../css/style.css"
          th:href="@{/css/style.css}"
          type="text/css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body class="mainContainer">

<form name="indexForm" enctype="multipart/form-data" action="/click" method="POST" id="indexForm" th:object="${Task}" class="formContainer">

    <div class="inputOutputContainer">

    <label class="label" for="typeTask"><b>Выбор задания:</b></label>
    <select id="typeTask" size="1" required="true" name="typeSelect" onchange="categorySelector()">
        <option value="Найти все подстроки">Найти все подстроки</option>
        <option value="Магический квадрат">Магический квадрат</option>
    </select>
    <input th:field="*{type}" type="hidden" name="typeInput" class="typeInput" id="typeInput"/>
    <br><br>

<!--    Первая задача-->
    <div class="FindSubstringTask" id="FindSubstringTask">
        <label for="lineOne"><b>Первый массив слов:</b></label>
        <input  th:field="*{line1}"  id="lineOneHidden" name="lineOne" class="inputLine" type="hidden"/>
        <input  id="lineOne" name="lineOne" class="inputLine" type="text"/>
        <input type="button" name="addLineOne" value="Добавить строку" onclick="addDeleteLine(this.name)"/>
        <input type="button" name="deleteLineOne" value="Удалить строку" onclick="addDeleteLine(this.name)"/><br>
        <div>
            <span th:text="${Task.line1}" id="massiveOne" class="massiveOne"></span>
        </div>
        <br><br>

        <label for="lineTwo"><b>Второй массив слов:</b></label>
        <input  th:field="*{line2}"  id="lineTwoHidden" name="lineTwo" class="inputLine" type="hidden"/>
        <input id="lineTwo" name="lineTwo" class="inputLine" type="text"/>
        <input type="button" name="addLineTwo" value="Добавить строку" onclick="addDeleteLine(this.name)"/>
        <input type="button" name="deleteLineTwo" value="Удалить строку" onclick="addDeleteLine(this.name)"/>
        <div>
            <span th:text="${Task.line2}" id="massiveTwo" class="massiveTwo"></span>
        </div>
        <br>
    </div>

<!--    Вторая задача-->
    <div class="MagicMatrixTask" id="MagicMatrixTask">
        <label for="matrix"><b>Матрица:</b></label>
        <table id="matrix">
            <tr th:each="row: ${Task.matrix}" class="rowMatrix"  name="matrix">
                <td th:each="value: ${row}" id="cellMatrix">
                    <input type="text" th:value="${value}" class="cellMatrix" pattern="[0-9]"/>
                </td>
            </tr>
        </table>
        <input id="matrixHidden" th:field="*{matrixString}" type="hidden"/>
        <br>
    </div>

<!--    Вывод решения-->
    <label class="solutionTxtLabel" for="solution"><b>Решение задачи:</b></label>
    <br>
    <textarea rows="6" cols="60"
              name="text"
              th:text="${solution}"
              id="solution"
              class="solutionTxt"></textarea>
    </div>

    <div class="buttonsContainer">
        <div class="button"><input name="solve" type="submit" value="Посчитать" onclick="clickButton(this.name)"></div>
        <div class="button"><input name="save" type="submit" value="Cохранить"  onclick="clickButton(this.name)"></div>
        <div class="button">
            <input name="export" type="submit" value="Экспортировать"  onclick="clickButton(this.name)">
<!--            <input name="export" type="button" value="Экспортировать" data-toggle="modal" data-target="#exportModal">-->
        </div>
        <div class="button"><input name="download" type="button" value="Загрузить" onclick="clickButton(this.name)" data-toggle="modal" data-target=".bd-example-modal-lg"/>
        </div>
        <div class="button">
            <input name="import" type="button" value="Импортировать" data-toggle="modal" data-target="#importModal">
        </div>
    </div>

     <!-- Загрузить-->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myLargeModalLabel">Задачи </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- содержимое  -->
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Тип задачи</th>
                            <th scope="col">Входные данные</th>
                            <th scope="col">Отобразить</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="task : ${tasks}" th:fragment="publicSiteHeader">
                            <tr>
                                <td  th:text="${task.id}"></td>
                                <td  th:text="${task.type}"></td>
                                <td  th:text="${task.toString()}"></td>
                                <td><input name="display"
                                           type="submit"
                                           class="btn btn-primary"
                                           value="Отобразить"
                                           onclick="clickDisplay(this)"/>
                                     <input name="taskId" th:value="${task.id}"  type="hidden"/>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                    <input name="selectTaskId" id="selectTaskHidden" type="hidden"/>
                </div>
                <!-- содержимое  -->
                <div class="modal-footer">
<!--                    <button type="button" class="btn btn-primary">Отобразить</button>-->
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Импортировать -->
    <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Импортировать</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="file" name="importFile"/>
                </div>
                <div class="modal-footer">
                    <button name="import" type="submit" class="btn btn-primary">Импортировать</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

</form>
    <script>
         var typeInput = document.getElementById("typeInput");
         var typeSelect = document.getElementById("typeTask");
         if(typeInput.value === "Найти все подстроки"){

             typeSelect.options[0].selected = true;

         } else if(typeInput.value === "Магический квадрат"){

             typeSelect.options[1].selected = true;
         }
         categorySelector();

         function clickDisplay(displayButton){
             const row = displayButton.parentNode;
             var selectTaskId = row.lastElementChild.value;
             let selectTask = document.getElementById("selectTaskHidden");
             selectTask.value = selectTaskId;
         }


       function clickButton(name){

           let lineOne = document.getElementById("lineOneHidden");
           let massiveOne = document.getElementById("massiveOne");
           lineOne.value = massiveOne.innerText;

           let lineTwo = document.getElementById("lineTwoHidden");
           let massiveTwo = document.getElementById("massiveTwo");
           lineTwo.value = massiveTwo.innerText;

           let typeTask = document.getElementById("typeTask");
           let typeInput = document.getElementById("typeInput");
           typeInput.value = typeTask.value;

           var s="";
           var table = document.getElementById("matrix"),
               cells = table.getElementsByTagName("td");
           var split;

           for (var i=0,len=cells.length; i<len; i++){
               if(i === 0) {
                   s += "[";
                   split = ", ";
               }
               else if( ((i+1) % 3 === 0) && i !== len-1)
                   split = "] [";
               else if(i === len-1)
                   split = "]";
               else  split = ", ";
               s += cells[i].firstElementChild.value + split;
           }
           let matrixHidden = document.getElementById("matrixHidden");
           matrixHidden.value = s;
       }

        function addDeleteLine(name){

            var lineOne = document.getElementById("lineOne");
            var massiveOne = document.getElementById("massiveOne");
            var lineTwo = document.getElementById("lineTwo");
            var massiveTwo = document.getElementById("massiveTwo");

            if(name === "addLineOne"){
                massiveOne.innerText  = massiveOne.innerText !== ''
                    ? massiveOne.innerText + ",   "+ lineOne.value
                    : massiveOne.innerText + "" + lineOne.value;
                lineOne.value = '';
            }
            if(name === "addLineTwo"){
                massiveTwo.innerText  = massiveTwo.innerText !== ''
                    ? massiveTwo.innerText + ",   "+ lineTwo.value
                    : massiveTwo.innerText + "" + lineTwo.value;
                lineTwo.value = '';
            }
            if(name === "deleteLineOne"){
                massiveOne.innerText = "";
            }
            if(name === "deleteLineTwo"){
                massiveTwo.innerText = "";
            }

        }

       function categorySelector() {
           var i = document.getElementById("typeTask").selectedIndex;
           var val = document.getElementsByTagName("option")[i].value;

           if (val === "Магический квадрат") {
               document.getElementById("MagicMatrixTask").style.display = "block";
               document.getElementById("FindSubstringTask").style.display = "none";
           } else if (val === "Найти все подстроки") {
               document.getElementById("MagicMatrixTask").style.display = "none";
               document.getElementById("FindSubstringTask").style.display = "block";
           }

       }

         function changeFile(event){
             var tmppath = URL.createObjectURL(event.target.files[0]);
             var pathHidden = document.getElementById("path");
             pathHidden.value = tmppath;
         }
    </script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
